<div ng-controller="app.views.sys.places.index as vm">
    <div ng-include="'/App/Main/views/layout/content-header.cshtml'"></div>
    <div class="content" busy-if="vm.loading||vm.initializing">
        <div class="box">
            <div class="box-header with-border">
                <i class="fa fa-list"></i>
                <h3 class="box-title">地区管理</h3>
                <div class="pull-right box-tools">
                </div>
            </div>
            <div class="box-body">
                <div class="margin-5 row">
                    <div class="col-sm-12">
                        <form class="form-inline pull-left" role="form" ng-submit="vm.getSearch()">
                            <div class="input-group input-group-sm">
                                <input class="form-control" type="text" placeholder="地区名称、编码"
                                       ng-model="vm.requestParams.filter"
                                       ng-show="!vm.advancedSearch">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-warning" uib-tooltip="搜索"
                                            ng-show="!vm.advancedSearch">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end 简单搜索-->
                </div>
            </div>
            <div class="box-body">
                <div class="margin-5 row">
                    <div class="col-sm-12">
                        <!--按钮-->
                        <button ng-click="vm.createOrEditModal(null,true)" class="btn btn-sm" uib-tooltip="新增地区">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button ng-click="vm.refresh()" class="btn btn-sm btn-default" uib-tooltip="刷新数据">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <!--end 按钮-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" ui-i18n="zh-cn">
                        <div class="body table-responsive">
                            <table class="table table-hover table-striped" style="max-width:1500px;">
                                <thead>
                                    <tr>
                                        <th width="300">@L("PlaceCode")</th>
                                        <th width="300">@L("PlaceName")</th>
                                        <th width="300">@L("Affiliation")</th>
                                        <th width="200">@L("PlaceDeep")</th>
                                        <th width="200">@L("PlaceAdminister")</th>
                                        <th width="200">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="place in vm.places">
                                        <td>{{place.code}}</td>
                                        <td>{{place.name}}</td>
                                        <td>{{place.parentName}}</td>
                                        <td>{{place.deep}}</td>
                                        <td>{{place.administerCount}}</td>
                                        <td style="vertical-align:middle">
                                            <div class="ui-grid-cell-contents">
                                                <div class="btn-group">
                                                    <div class="btn-group dropdown" uib-dropdown="" dropdown-append-to-body>
                                                        <a href="javascript:void(0);" class="dropdown-toggle" uib-dropdown-toggle="">
                                                            <i class="glyphicon glyphicon-align-justify"></i>
                                                        </a>
                                                        <ul uib-dropdown-menu class="dropdown-menu-left">
                                                            <li><a ng-click="vm.createOrEditModal(place,true)" href=""><i class="fa fa-edit"></i>修改</a></li>
                                                            <li><a ng-click="vm.delete(place)" href=""><i class="fa fa-trash-o"></i>删除</a></li>
                                                            <li class="divider"></li>
                                                            <li ng-if="place.deep!=1"><a ng-click="vm.getParentList(place)" href=""><i class="fa fa-angle-up"></i>上级城市</a></li>
                                                            <li><a ng-click="vm.getChildList(place)" href=""><i class="fa fa-angle-down"></i>下辖市区</a></li>
                                                            <li><a ng-click="vm.createOrEditModal(place,false)" href=""><i class="fa fa-plus"></i>新增下辖市区</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <my-page page-option="vm.option" class="pull-right"></my-page>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>